@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

.section-one {
  background-color: #1f2937;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
}

a {
  font-size: 18px;
  color: #e5e7eb;
}

.navbar {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  gap: 14px;
  list-style-type: none;
}

.navbar-right,
.navbar-left {
  display: flex;
  width: 50%;
  padding: 12px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 30px;
  padding: 50px;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-left: 100px;
}

.sign-up {
  background-color: #3882f6;
  color: white;
  width: 100px;
  height: 40px;
  border: 1px #3882f6;
  border-radius: 10px;
  margin-top: 40px;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.row-of-blue-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px;
}

.blue-box {
  width: 200px;
  height: 200px;
  border: 3px solid #3882f6;
  border-radius: 15px;

}
.p-second {
  text-align: center;
}

.section-three {
  background-color: #e5e7eb ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}
h3 {
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  font-style: italic;
  text-align: center;
}
.p-third {
  font-size: 18px;
  text-align: right;
  margin-right: 550px;
  margin-top: 30px;
}
.section-four {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-container {
  background-color: #3882f6;
  width: 75%;
  height: 50%;
  display: flex;
  flex-direction: row;

}

.left {
  width: 100%;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h4 {
  color: white;
  font-size: 20px;
}
.right {
display: flex;
flex-direction: column;
justify-content: center;
margin-right: 100px;
}
.button-two {
  background-color: #3882f6;
  color: white;
  width: 100px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 40px;
}
.p-forth {
  color: white;
}

.footer {
  background-color:  #1f2937;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-p {
  color: #f9faf8;
}